<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tela 1 : Avaliar</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
</head>
<body>
    <section class="container">
        <h1>Lista de Voluntários</h1>
        <table>
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>CPF</th>
                  <th>Data Nascimento</th>
                  <th>Especialidade</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>Lucas</td>
                <td>lucas@test.com</td>
                <td>463736377744</td>
                <td>06/02/1998</td>
                <td>Socorrista</td>
                <td><a href="waves-effect waves-light btn">Visualizar</a></td>
              </tr>
              <tr>
                <td>Lucas</td>
                <td>lucas@test.com</td>
                <td>463736377744</td>
                <td>06/02/1998</td>
                <td>Socorrista</td>
                <td><a href="waves-effect waves-light btn">Visualizar</a></td>
              </tr>
              <tr>
                <td>Lucas</td>
                <td>lucas@test.com</td>
                <td>463736377744</td>
                <td>06/02/1998</td>
                <td>Socorrista</td>
                <td><a href="waves-effect waves-light btn">Visualizar</a></td>
              </tr>
            </tbody>
          </table><br>
          <a class="waves-effect waves-light btn right">Sair</a>
    </section>
</body>
</html>