<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Novo Voluntário</title>
    
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
</head>
<body>
    <section class="container-fluid">
        <nav class="">
            <div class="container nav-wrapper">
                <a href="#" class="brand-logo">App</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
            </div>
        </nav>
        <h1 class="center">Bem vindo,</h1>
        <div class="row">
            <div class="center">
                <a class="waves-effect waves-light btn">Inscreva-se</a>
                <a class="waves-effect waves-light btn">Login</a>
            </div>
        </div>
            
    </section>
</body>
</html>